MONGODB_URI = "mongodb://127.0.0.1:27017/data?authSource=admin"
MONGODB_DB_NAME = "data"
# Redis 设置
REDIS_HOST = '127.0.0.1'
REDIS_PORT = 6379
REDIS_DB = 0
REDIS_PASSWORD = None
news_sites = [
    "澎湃新闻",
    "36氪",
    "IT之家热榜",
    "少数派热榜",
    "华尔街见闻"
]
EMAIL = {
    "host": "",
    "port": ,
    "user": "",
    "password": ""
}
api_url = "https://api.openai.com/v1/chat/completions"
api_headers = {
    "Authorization": "Bearer sk-aaaaaaaaaaa",
    "Accept": "application/json",
    "Content-Type": "application/json"
}
news_sites = [
    "澎湃新闻",
    "36氪",
    "虎嗅热文",
    "IT之家热榜",
    "少数派热榜",
    "华尔街见闻"
]

PG_HOST = 'localhost'
PG_PORT = '5432'
PG_USER = 'admin'
PG_PASSWORD = 'securepassword'
PG_DB = 'postgres'